.todo-list-container{
    width: 60vw;
    height: 90vh;
    display: flex;
    align-items: center;
    border-radius: 15px;

    box-shadow: 5px 5px 110px 10px rgba(0,0,0,0.56);
    -webkit-box-shadow: 5px 5px 110px 10px rgba(0,0,0,0.56);
    -moz-box-shadow: 5px 5px 110px 10px rgba(0,0,0,0.56);
}

.todo-list-container_left{
    padding: 3%;
    width: 35%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    overflow: hidden;
    background-color: #eee8ff;
    backdrop-filter: blur(100px);    
}

.todo-list-container_left .logo-container{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.todo-list-container_left .logo-container h1{
    font-size: 3rem;
    color: #181818;
}

.todo-list-container_left .logo-container img{
    width: 55px;
    height: auto;
    object-fit: contain;
    margin-right: 1.5rem;
}

.todo-list-container_right{
    background-color: #fff;
    width: 65%;
    overflow: hidden;
    border-radius: 0 15px 15px 0;
    height: 100%;
}