/* You can add global styles to this file, and also import other style files */

*, *::after, *::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    overflow-x: hidden;
    height:100vh;
    background-image: linear-gradient(to right bottom, #7F00FF, #E100FF);
    font-family: 'Open Sans', sans-serif;
}