.completed-item-container{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px solid #7F00FF;
}

.completed-item-container > p{
    color: #6e6e6e;
}

.completed-item-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed-item-main p{
    width: 82.5%;
    height: max-content;
    font-size: 1.25rem;
    overflow-x: hidden;
    word-wrap: break-word;
}

.completed-item-main button{
    border: none;
    cursor: pointer;
}

.completed-item-main button img{
    width: 100%;
    height: auto;
    background-color: #fff;
}

.completed-item-main #redo{
    width: 20px;
    height: 20px;
}

.completed-item-main #delete{
    width: 25px;
    height: 25px;
}